@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 75px;
  height: auto;
  justify-content: center;
}

.menu-principal {
  justify-content: center;
}

.menu-principal,
.busqueda {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #e1f4cb;
}

.menuprincipal .first-ul {
  display: inline;
}

.menuPrincipal li {
  display: inline;
}

.container-right {
  display: flex;
}

.container-right div {
  padding: 0 20px;
}

.first-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.first-ul li {
  display: inline-block;
  background-color: #bacba9;
}

nav a {
  display: block;
  padding: 0 10px;
  color: black;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav a:hover {
  background-color: darkgrey;
}

.first-ul ul {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  top: 50px;
}

.first-ul li:hover>ul {
  display: inherit;
  background-color: darkgrey;
}

.first-ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
  padding: 10px;
}

.container-img {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  gap: 10px;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.img1 {
  border: 1px black solid;
  width: 150%;
  height: 100%;
  align-self: center;
  justify-self: flex-start;
  grid-column: 1 / 4;
}

img {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #3f4739;
  display: flex;
  padding: 10px;
}

.redesSociales {
  width: 3%;
  height: 3%;
  align-items: center;
}

.principal {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-content: center;
  justify-content: center;
  color: white;
}

.nosotros {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1px;
  background-color: burlywood;
  color: black;
  text-align-last: center;
  padding: 10px;
  border: 5px;
  overflow: hidden;
}

h1 {
  font-family: 'Montagu Slab', serif;
  font-family: 'Nunito Sans', sans-serif;
  text-align-last: center;
  font-style: italic;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
  padding: 10px;
  border: 5px;
  background-color: burlywood;
  color: black;
  font-style: italic;
  letter-spacing: 1px;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
  padding: 10px;
  border: 5px;
  background-color: burlywood;
  color: black;
  font-style: italic;
  letter-spacing: 1px;
}

h4 {
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
  padding: 10px;
  border: 5px;
  background-color: burlywood;
  color: black;
  font-style: italic;
  letter-spacing: 1px;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  padding: 15px;
  font-style: normal;
  letter-spacing: 1px;
  color: black;
}

.vege-indice {
  list-style: none;
  list-style-type: upper-roman;
  font-family: 'EB Garamond', serif;
  font-family: 'Montserrat', sans-serif;
}

.vege-resumen {
  padding: 30px;
  border: 30px;
  letter-spacing: 1px;
  font-family: 'EB Garamond', serif;
  font-family: 'Montserrat', sans-serif;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6 {
  width: 50%;
  height: 50%;
}

main {
  background-image: url("../imagenes/Photo by Claudel Rheault on Unsplash.jpg");
  background-image: cover;
}

.plaga-img {
  width: 50%;
  height: 50%;
}

.glosario-img {
  width: 35%;
  height: 35%;
}

.container-plaga-inicio {
  width: 100%;
  border: 10px solid #000;
  margin: auto;
  text-align: center;
  display: grid;
  grid-column-start: container-plaga-inicio;
  grid-column-end: container-plaga-inicio;
}

.container-plaga {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "container-plaga-inicio"
    "container-mosca "
    "container-pulgon"
    "container-ara単a"
    "container-trips"
    "container-mosca-suelo"
    "container-oruga";
  grid-gap: 20px;
}

.container-mosca {
  width: 90%;
  max-width: 1000px;
  border: 10px solid #000;
  margin: auto;
  text-align: center;
  display: grid;
  grid-column-start: container-mosca;
  grid-column-end: container-mosca;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "container-mosca-titulo container-mosca-titulo container-mosca-titulo"
    "container-mosca-imagen container-mosca-p container-mosca-list"
    "container-mosca-imagen container-mosca-p container-mosca-list"
    "container-mosca-imagen container-mosca-p container-mosca-list";
}

.container-pulgon {
  width: 90%;
  max-width: 1000px;
  border: 10px solid #000;
  margin: auto;
  text-align: center;
  display: grid;
  grid-column-start: container-pulgon;
  grid-column-end: container-pulgon;
}

.container-ara単a {
  width: 90%;
  max-width: 1000px;
  border: 10px solid #000;
  margin: auto;
  text-align: center;
  display: grid;
  grid-column-start: container-ara単a;
  grid-column-end: container-ara単a;
}

.container-trips {
  width: 90%;
  max-width: 1000px;
  border: 10px solid #000;
  margin: auto;
  text-align: center;
  display: grid;
  grid-column-start: container-trips;
  grid-column-end: container-trips;
}

.container-mosca-suelo {
  width: 90%;
  max-width: 1000px;
  border: 10px solid #000;
  margin: auto;
  text-align: center;
  display: grid;
  grid-column-start: container-mosca-suelo;
  grid-column-end: container-mosca-suelo;
}

.container-oruga {
  width: 90%;
  max-width: 1000px;
  border: 10px solid #000;
  margin: auto;
  text-align: center;
  display: grid;
  grid-column-start: container-oruga;
  grid-column-end: container-oruga;
}



.carousel-item .img-box {
  width: 100%;
}

.carousel-item img {
  object-fit: cover;
}